main{
    --backgroundColor: #f8e7e7;
    --bordeaux: #800000; 
}

p.title{
    width: 12.5em;
    color: var(--bordeaux);
    font-size: 1.88em;
    margin-left: 4.1em;
}

.all-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 3.13em; 
}

.image {
    text-align: center;
}

.image img {
    width: 100%; 
    height: 100%;
    width: 12.5em;
    height: 12.5em;
}

p.empty{
    font-size: 1.25em;
    margin-left: 6.3em;
    margin-bottom: 3em;
}

.home{
    padding: 10px 20px;
    background-color: #800000; 
    color: #fff; 
    text-decoration: none; 
    border: none; 
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer; 
    margin-left: 30%;
}

.home:hover, .remove:hover{
    background-color: #5a0000;
}

a {
    text-align: center; 
}

.remove{
    padding: 5px 15px;
    background-color: #800000; 
    color: #fff; 
    text-decoration: none; 
    border: none; 
    border-radius: 10px;
    font-size: 0.88em;
    cursor: pointer; 
}

.item-name{
    font-size: 1.13em;
}

.total{
    margin-top: 1.25em;
    margin-left: 4.1em;
    font-size: 1.56em;
}

.buy{
    display: block;
    padding: 8px 70px;
    margin-top: 3.13em;
    background-color: #800000;
    color: #fff;
    border: none;
    border-radius: 13px;
    font-size: 1em;
    cursor: pointer;
    margin-left: 40%;
    margin-bottom: 3.13em;
}

.buy:hover{
    background-color: #5a0000;
}

.foto{
    max-height: 13em;
    max-width: 13em;
    cursor: pointer;
}
.foto:hover{
    border: 3px solid var(--borderLine);
}

.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2em 5em;
    .product{
        display: flex;
        flex-direction: column;
        margin-right: 2em;
        margin-bottom: 2em;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
        width: 13em;
        height: 25em;
        >*{align-self: center;}
        header {
            width: 100%;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid black;
            border-top: 1px solid black;
            background: var(--beige);
            margin-bottom: 1em;
            img{
                border-radius: 50%;
                width: 2em;
                height: 2em;
                align-self: center;
                margin: 0 1em ;
            }
        }
        header:hover{
            background: var(--bordeaux);
            color: white;
            transition: all 0.3s ease-out;
        }
    }
}
.message{margin-left: 3%;}
.message.error {
    color: red; 
}
.message.success{
    color: green; 
}