body{
    --backgroundColor: #f8e7e7;
    --beige: #D19F9D;
    --bordeaux: #800000;
    --borderLine: #E2D0BC;
    --grayText : #63656C;
}
.biggest-sellers {
    color: var(--bordeaux);
    margin: 2em 2em 1em 4em;
    font-weight: bold;
    font-size:x-large;   
}
.anuncios{
    width: 90%;
    height: 15em;
    margin: 1em auto 3em auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 7px;
    background: var(--backgroundColor);
    display: flex; 
    flex-direction: row; 
    font-family: Georgia, 'Times New Roman', Times, serif; 


    
    header {
        position: relative; 
        width: 100%;
        cursor: pointer;
        align-self: center;
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap;
        margin-bottom: 1em;


        img{
            flex-wrap: wrap;
            border-radius: 50%;
            border: .15em solid var(--bordeaux);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
            transition: all 0.3s ease-out;

            width: 6em;
            height: 6em;
            align-self: center;
            margin: 0 1em ;
        }
        img:hover{
            width: 8em;
            height: 8em;
            background: var(--bordeaux);
            color: white;
            transition: all 0.3s ease-out;
            border-radius: 50%;

    
        }


        .username{
            color:var(--bordeaux);
            font-weight:normal;
            font-size: x-large;
        }

        .crown {
            display: block;
            font-size: large;
            color: #de9a1c;            
            opacity: 0; 
            max-height: 0; 
            transition: opacity 0.5s ease, max-height 0.5s ease;
        }
        .crown.visible {
            opacity: 1; 
            max-height: 2em; 
        }

        .user-info {
            display: block;
            font-size: large;
            opacity: 0; 
            max-height: 0; 
            color: var(--grayText); 
            transition: opacity 0.5s ease, max-height 0.5s ease;
        }
        .user-info.visible {
            opacity: 1; 
            max-height: 1em; 
        }
    }
    
}
.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2em 5em;
    .product{
        border: 3px solid white;
        display: flex;
        flex-direction: column;
        margin-right: 2em;
        margin-bottom: 2em;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
        width: 16em;
        height: 25em;
        >*{align-self: center;}
        header {
            width: 100%;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            margin-bottom: 1em;
            img{
                border-radius: 50%;
                width: 2em;
                height: 2em;
                align-self: center;
                margin: 0 1em ;
            }
        }
        header:hover{
            background: var(--bordeaux);
            color: white;
            transition: all 0.3s ease-out;
            border-radius: 7px;

        }

        .foto{
            border: 0.5em solid white;
            max-height: 13em;
            max-width: 13em;
            cursor: pointer;
        }



        .fa-heart:hover{
            color:red;
        }
        .price{
            color: #2E6963;
        }
    }

    .product:hover{
        cursor: pointer;
        transition: all 0.3s ease-out;
            border: 3px solid var(--beige);
            border-radius: 7px;
    }
    p.empty{
        font-size: 1.5em;
        font-weight: lighter;
        color: var(--grayText);
        margin-left: 7%;
        margin-bottom: 5%;
    }
    
    .sell{
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
        padding: 1em;
        background-color: var(--beige); 
        color: #fff; 
        text-decoration: none; 
        border-radius: 7px;
        font-size: 1.5em;
        cursor: pointer; 
        margin: 10% 20%;
        
    }
    
    .sell:hover{
        transition: all 0.3s ease-out;
        background-color: var(--bordeaux); 

    }
}

button.wishlist {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: inherit;
    cursor: pointer;
}
.red{
    color: red;
}
