body{
    --backgroundColor: #f8e7e7;
    --bordeaux: #800000;
    background: var(--backgroundColor);
    
}
main{
    margin: auto;
    display: grid;
    grid-template-columns: auto 30em auto;
    align-content: center;
    
}
h1{
    grid-column: 2;
    text-align: center;
    color: var(--bordeaux);
}
.box{
    padding: 1em;
    text-align: center;
    background: white;
    border: 3px solid var(--bordeaux);
    border-radius: 5px;
    width: 30em;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    form input[type = "text"], input[type = "password"], input[type = "email"]{
        padding: .5em;
        margin: .5em;
        background: var(--backgroundColor);
        border: none;
        border-radius: 3px;
        width: 30em;
        &::placeholder{
            color: #d19f9d;
        }
    }
    
    .fa-lock {
        margin-left: 1em;
    }
    #password {
        margin: .5em 0em .5em .5em;
    }

    header{
        color: #800000;
        margin: 1em auto;
        font-size: 1.6em;
        text-shadow: 0em .2em .2em rgb(162, 161, 161);
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
}
.message {
    color: red; 
}



.fa-eye-slash:before {
    content: '\f070'; 
}



h5{
    grid-column: 2;
    text-align: center;
    color: var(--bordeaux);
    
}
a{
    text-decoration: none;
    color: black;
}
.submitButton{
    background: var(--bordeaux);
    color: white;
    border-radius: 10em;
    padding: .5em 4em;
    margin: 3em auto;
    border: none;
    border: 3px solid var(--bordeaux);
}
.submitButton:hover{
    background: var(--backgroundColor);
    color: var(--bordeaux);
    border: 3px solid var(--bordeaux);
}
@media (max-width: 500em) {
    .logoLogs {
        margin: 5% 30% ;
        grid-column: 2;
      width: 15em;
      height: auto;
    }
}
