body {
  --backgroundColor: #f8e7e7;
  --beige: #D19F9D;
  --bordeaux: #800000;
  --borderLine: #E2D0BC;
  margin: 0;
}

@media (max-width: 500em) {
  .topo > * {
      display: flex;
      flex-direction: row;
  }
  .logo {
      width: 10em;
      height: auto;
  }
  .logo:hover {
      cursor: pointer;
  }
  #elementToToggle {
      width: 50em;
  }
  .pesquisaTopo {
    cursor: pointer;
      background: var(--bordeaux);
      margin-left: auto;
  }
  .pesquisaTopo:hover{
    background: red;
  }
  .topo .firstRow {
      padding: 0;
      margin: 1em;
      h3 a {
          color: black;
      }
      .fa-envelope:hover{
        color:blue;
      }
      .fa-heart:hover{
        color:red;
      }
      .sellItem:hover{
        color:#66B09F;
      }

      > * {
          margin: .5em;
          align-self: center;
      }
      .barra {
          display: flex;
          width: 50%;
          height: 2em;
          box-shadow: 0px 8px 8px -4px rgba(0, 0, 0, 0.1);
          border: .15em solid var(--beige);
          border-radius: 5px;
          margin: .1em 2em;
          padding: 0;
          > * {
              margin: 0;
              padding: 0;
              border: none;
          }
          .all {
              cursor: pointer;
              background: var(--backgroundColor);
              border: .10em solid var(--beige);
              border-radius: 2px;
              width: 15%;
              color: var(--beige);
              padding: 0;
              margin: 0;
              outline: none;
          }
          .all:hover {
              color: #AC4354;
          }
          form {
              margin-left: auto;
              display: flex;
              flex-direction: row;
              width: 100%;
              input {
                  width: 100%;
                  height: 100%;
                  outline: none;
              }
              input:focus {
                  outline: none;
              }
          }
      }
      .carrinho {
          height: 2em;
          background: var(--backgroundColor);
          border:solid var(--backgroundColor);
          border-radius: 5px;
          margin: .1em;
      }
      .carrinho:hover {
        border-color: var(--beige);
      }
      .avatar {
          height: 2em;
          display: flex;
          flex-direction: row;
          .profilePic {
              border-radius: 50%;
              border: .15em solid var(--beige);
              width: 2em;
              height: 2em;
          }
          .options-arrow {
              color: var(--beige);
          }
      }
  }
  .topo .types {
      padding: 1em 0;
      border-top: .1em solid var(--borderLine);
      border-bottom: .1em solid var(--borderLine);
      padding-right: 50%;
      display: flex;
      overflow-x: auto;
      ul {
          padding: .2em;
          margin: 0;
          list-style-type: none;
          display: flex;
          li.active a {
              color: #FFFFFF;
              background-color: #800000;
          }
          li {
              transition: all 1s ease-in-out;
              margin-right: 3em;
              a {
                  text-decoration: none;
                  font-size: large;
                  padding: 5px 10px;
                  transition: transform 0.3s ease;
                  color: black;
              }
              a:hover {
                  transform: translateY(-5px);
                  border-bottom: .15em solid var(--beige);
                  color: var(--bordeaux);
              }
          }
      }
  }
  a {
      text-decoration: none;
      color: #2E6963;
  }

  #animation .profilePop {
      cursor: pointer;
      display: block;
      padding: 1em;
      color: #D19F9D;
      text-align: right;
      margin-top: 1em;
  }
  #animation .profilePop:before {
      content: '\22C0';
  }
  #profilePop:checked + .profilePop + ul li {
      max-height: 1em;
      padding: 1em;
      opacity: 1;
  }
  #profilePop:checked + .profilePop + ul {
      background: white;
      border: .1em solid var(--beige);
      li {
          background: white;
      }
      li:hover {
          background-color: var(--backgroundColor);
      }
  }
  #profilePop:checked + .profilePop:before {
      content: '\22C1';
  }
  #animation ul li {
      max-height: 0;
      padding: 0 1em;
      background-color: #edeff0;
      text-align: left;
      opacity: 0;
      transition: all .3s ease-in-out;
  }
  #animation ul {
      margin: 0;
      padding: 0;
      position: relative;
      z-index: 9999;
  }
  #animation li {
      background-color: white;
      text-align: center;
      list-style-type: none;
      padding: 1em 0;
      a {
          color: var(--bordeaux);
      }
  }
  #profilePop, .profilePop { 
      display: none;
  }
  .hidden {
      display: none;
  }
}

@media (max-width: 50em) {
  #elementToToggle {
      width: 10em;
  }
  .topo .firstRow {
      margin: 1em 0;
      font-size: smaller;
      > * {
          margin: .3em;
      }
      .all {
          font-size: 0;
      }
      .all .fa-caret-down {
          font-size: 16px;
      }
  }
  .logo {
      width: 5em;
      height: auto;
  }
  .topo .firstRow .barra {
      margin: 0em 0em;
  }
}
.red{
    color: red;
}
